
    <div class="box">
        <img src="./images/pexels-ion-ceban-ionelceban-4876018.jpg" alt="" style="width: 280px; height: 220px;">
        <h2>Location: Abuja</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.  Voluptatem a repellendus officiis! Consequuntur, quaerat odit.</p>
    </div>
    <div class="box">
        <img src="./images/pexels-binyamin-mellish-106399.jpg" alt="" style="width: 280px; height: 220px;">
        <h2>Location: Lagos</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.  Voluptatem a repellendus officiis! Consequuntur, quaerat odit.</p>
    </div>
    <div class="box">
        <img src="./\/images/pexels-expect-best-323780.jpg" alt="" style="width: 280px; height: 220px;">
        <h2>Location: Calabar</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.  Voluptatem a repellendus officiis! Consequuntur, quaerat odit.</p>
    </div>
    <div class="box">
        <img src="./images/webaliser-_TPTXZd9mOo-unsplash.jpg" alt="" style="width: 280px; height: 220px;">
        <h2>Location: Abeokuta</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.  Voluptatem a repellendus officiis! Consequuntur, quaerat odit.</p>
    </div>
